@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*, *::after, *::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
   background: #000;
   font-family: 'Poppins', sans-serif;
   font-size: 10px;
}
.wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
/* ----------EYES --------------------*/
.eyes {
   position: relative;
   width: 460px;
   height: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   animation: eyesanim 0.2s infinite;
}
.left-eye, .right-eye{
   background-color: #fff;
   width: 200px;
   height: 200px;
}
.left-eye {
   border-radius: 100px 70px 100px 90px;
}
.right-eye {
   border-radius: 70px 100px 90px 100px;
}
.left-eye::after {
   content: '';
   position: absolute;
   width: 200px;
   height: 200px;
   border-bottom: 4px solid #fff;
   border-radius: 50%;
   left: -22px;
   bottom: 30px;
   transform: rotate(54deg);
}
.right-eye::after {
   content: '';
   position: absolute;
   width: 200px;
   height: 200px;
   border-bottom: 4px solid #fff;
   border-radius: 50%;
   right: -22px;
   bottom: 30px;
   transform: rotate(-54deg);
}
.pupil-left, .pupil-right {
   position: absolute;
   top: calc(50% - 25px);
   width: 50px;
   height: 50px;
   background-color: #000;
   border-radius: 50%;
   animation: pupilanim 2.5s infinite;
}
.pupil-left {
   left: calc(22% - 25px);
}
.pupil-right {
   right: calc(22% - 25px);
}
/* ----------EYES ANIMATION --------------------*/
@keyframes pupilanim {
   0% ,30% , 55%, 90% , 100% { 
      transform: translate(0, 0);
   }
   10%, 25% { 
      transform: translate(0 , 60px);
   }
   65% { 
      transform: translate(-60px, 0); 
   }
   80% { 
      transform: translate(60px, 0); 
   }
}
@keyframes eyesanim {
   0% {
      transform: translate(2px);
   }
   50% {
      transform: translate(0);
   }
   10% {
      transform: translate(-2px);
   }
}

.number {
   color: #fff;
   font-size: 10rem;
   text-align: center;
   margin-bottom: 50px;
}

/* ----------QUESTIONS--------------------*/
.questions {
   color:rgb(19, 113, 235);
   font-size: 50px;
   text-align: center;
}
.questions::after {
   content: 'Got lost.....? How...........? Why..........?';
   width: 300px;
   overflow: hidden;
   display: inline-block;
   white-space: nowrap;
   animation: wordanim 2.5s infinite steps(3);
}
@keyframes wordanim {
   to {
      text-indent: -900px;
   }
}

